@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    color: white;
    background-color: tomato;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);

}

.info {
    font-size: 23px;
}

.box{
    border: 2px solid black;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    cursor: pointer;
}

.box:hover{
    background-color: rgb(234, 240, 240);
}

.infoContainer{
    padding: 0 34px;
}

.imagebox img{
    width: 0;
    transition: width 1s ease-in-out;
}

/* some utility classes */

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}

#buton {
    margin: 0 23px;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(238, 201, 238);
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .infoContainer{
        margin-top: 34px;
    }
    .infoContainer h1{
        font-size: 1.5rem;
    }
    .gridContainer { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}